.nav_cart_list {
    max-height: 255px;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #a9abac;
    }
}