a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #ffff;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 15%);
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header_logo {
    display: flex;
    flex-direction: row;
    color: black;
    
    span {
        font-size: 20px;
    }

    h2 {
        margin: 0 0 0 10px;
        font-size: 20px;

        &:hover {
            color: var(--hover-color);
            cursor: pointer;
            transition: 0.3s all ease;
        }
    }

    @media (min-width: 768px) {
        span {
            font-size: 25px;
        }

        h2 {
            font-size: 25px;
        }
    }
}