.nav {
    ul {
      display: flex;
      flex-direction: row;
    }
  
    li {
      margin-left: 20px;
      font-size: 20px;
  
      a {
        & :hover {
          color: var(--hover-color);
          cursor: pointer;
          transition: 0.3s all ease;
        }
      }
    }
  
    @media (min-width: 768px) {
      li {
        font-size: 25px;
      }
    }
  }
  
  .counter {
    position: relative;
  
    b {
      position: absolute;
      top: -11px;
      right: -14px;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      color: #fff;
      font-size: 9px;
      background: #997878;
      border-radius: 50px;
    }
  }
  
  .nav_hover_cart {
    display: none;
  
    @media (min-width: 990px) {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      display: block;
      width: 450px;
      min-height: 100px;
      background: #fff;
      box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    }
  }
  
  .nav li:hover .nav_hover_cart {
    visibility: visible;
    opacity: 1;
  }
  
  .nav_sign_out {
    cursor: pointer;
  
    &:hover {
      color: var(--hover-color);
      cursor: pointer;
      transition: 0.3s all ease;
    }
  }